<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="toolConnectionString" connectionString="Data Source=WIN-SQL5CNC3OSL;Initial Catalog=tool;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="toolConnectionString2" connectionString="Data Source=140.136.151.145;Initial Catalog=tool;Persist Security Info=True;User ID=sa;Password=GGxn%483437"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <machineKey
      validationKey="7626F91C8AEEEA2F126270ABB4B0DE36C2EF9BFD8D55D3F66D552276687FB85909C155EE6A26A3D617C588E6C42EEB8301098E98DAD6F29A20A6127EB6175F79"
      decryptionKey="245626CEA85BC34230D45467E607DBEF3862305E088EA2E5F8B8DA81F338B465"
      validation="SHA1" decryption="AES"
    />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>